@page "/addphoto"
@inject MongoDBPhotoService PhotoService

<PageTitle>Add Photo</PageTitle>

<h3>Add Photo</h3>

<EditForm Model="@newPhoto" OnValidSubmit="InsertPhoto">
    <InputText @bind-Value="newPhoto.Title" placeholder="Title" class="form-control" />
    <InputText @bind-Value="newPhoto.Name" placeholder="Filename (e.g., photo.jpg)" class="form-control" />
    <button type="submit" class="btn btn-success">Save</button>
</EditForm>

@code {
    private Photo newPhoto = new();

    private async Task InsertPhoto()
    {
        await PhotoService.AddAsync(newPhoto);
        newPhoto = new Photo();
    }
}