@page "/animalkingdom"
@using DisneyWorldConstants = AboutDisneyWorld_Blazor.AboutDisneyWorldConstants.AboutDisneyWorldConstants

<PageTitle>Animal Kimgdom</PageTitle>

<h1>@DisneyWorldConstants.AnimalKingdomHeader</h1>
<p>@DisneyWorldConstants.AnimalKingdomDescription</p>
