@page "/epcot"
@using DisneyWorldConstants = AboutDisneyWorld_Blazor.AboutDisneyWorldConstants.AboutDisneyWorldConstants

<PageTitle>Epcot</PageTitle>

<h1>@DisneyWorldConstants.EpcotHeader</h1>
<p>@DisneyWorldConstants.EpcotDescription</p>
