@page "/hollywoodstudios"
@using DisneyWorldConstants = AboutDisneyWorld_Blazor.AboutDisneyWorldConstants.AboutDisneyWorldConstants

<PageTitle>Hollywood Studios</PageTitle>

<h1>@DisneyWorldConstants.HollywoodStudiosHeader</h1>
<p>@DisneyWorldConstants.HollywoodStudiosDescription</p>
