@page "/"
@using DisneyWorldConstants = AboutDisneyWorld_Blazor.AboutDisneyWorldConstants.AboutDisneyWorldConstants

<PageTitle>Home</PageTitle>

<h1>@DisneyWorldConstants.MainWindowHeader</h1>
<p>@DisneyWorldConstants.MainWindowDescription</p>
