@page "/magickingdom"
@using DisneyWorldConstants = AboutDisneyWorld_Blazor.AboutDisneyWorldConstants.AboutDisneyWorldConstants

<PageTitle>Magic Kingdom</PageTitle>

<h1>@DisneyWorldConstants.MagicKingdomHeader</h1>
<p>@DisneyWorldConstants.MagicKingdomDescription</p>
