@page "/saratogasprings"
@using DisneyWorldConstants = AboutDisneyWorld_Blazor.AboutDisneyWorldConstants.AboutDisneyWorldConstants

<PageTitle>Saratoga Springs</PageTitle>

<h1>@DisneyWorldConstants.SaratogaSpringsHeader</h1>
<p>@DisneyWorldConstants.SaratogaSpringsDescription</p>