@page "/"
@namespace AboutDisneyWorld_Blazor.Pages
@using AboutDisneyWorld_Blazor
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Disney World Diary</title>
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/app.css?v=1.0" />
    <link rel="stylesheet" href="/AboutDisneyWorld_Blazor.styles.css" />
    <link rel="icon" type="image/png" href="mickeymouse.png" />
</head>

<body>
    <component type="typeof(App)" render-mode="Server" />
    <script src="_framework/blazor.server.js"></script>
</body>
</html>