<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AboutDisneyWorld_Blazor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="animalkingdom">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Animal Kingdom
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="epcot">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Epcot
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="hollywoodstudios">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Hollywood Studios
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="magickingdom">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Magic Kingdom
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="saratogasprings">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Saratoga Springs
            </NavLink>
        </div>
    </nav>
</div>
